<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>
        <button class="toggle-sidebar">☰</button>
        <div class="d-flex">
            <!-- Sidebar -->
            <%- include('partials/sidebar.ejs') %>

                <!-- Main Content -->
                <div class="content w-100">
                    <div id="dynamic-content">
                        <%- body %>
                    </div>
                </div>
        </div>
    </body>

</html>