<div class="container-fluid">
    <div class="row">
        <!-- Calendar Section -->
        <div class="col-lg-9">
            <div class="calendar-card bg-dark p-4 rounded">
                <div id="calendar" class="p-3"></div> <!-- ✅ The calendar will render here -->
            </div>
        </div>

        <div class="col-lg-3">
            <div class="event-list p-3 rounded bg-dark">
                <h5 class="text-light">Production Stages</h5>
                <ul id="stage-list" class="list-unstyled text-white">
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Month Picker Modal -->
<div class="modal fade" id="monthPickerModal" tabindex="-1" aria-labelledby="monthPickerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="monthPickerLabel">Select Month and Year</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="monthPickerInput" class="form-control" placeholder="Select Month">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmMonth">Confirm</button>
            </div>
        </div>
    </div>
</div>



<script src="assets/js/calendar.js"></script>