<div class="container-fluid">
    <div class="row">
        <!-- Calendar Section -->
        <div class="col-lg-9">
            <div class="calendar-card bg-dark p-4 rounded">
                <div id="calendar" class="p-3"></div> <!-- ✅ The calendar will render here -->
            </div>
        </div>

        <div class="col-lg-3">
            <div class="event-list p-3 rounded bg-dark">
                <h5 class="text-light">Production Stages</h5>
                <ul id="stage-list" class="list-unstyled text-white">
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="assets/js/calendar.js"></script>